[http]
	lowSpeedLimit = 0
	lowSpeedTime = 0
[init]
	defaultBranch = main
[core]
	pager = delta 
	editor = nvim -f

[interactive]
    diffFilter = delta --color-only
[diff]
    renames = true
    algorithm = histogram # 或 patience

[status]
    renames = true

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true
    hyperlinks = true

[merge]
    conflictstyle = zdiff3
[commit]
	gpgsign = true
[pull]
	rebase = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
